<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Population by Country</h3>
        <div class="right">
        <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
        <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
        </div>
    </div>
    <div class="panel-body no-padding table-responsive dashboard-table">
        <table class="table table-striped">
        <thead>
            <tr>
            <th (click)="sort('name')">Country
                <span class="glyphicon sort-icon fa" *ngIf="key =='name'" [ngClass]="{'fa-caret-up':reverse,'fa-caret-down':!reverse}"></span>
            </th>
            <th (click)="sort('Population')">Population
                <span class="glyphicon sort-icon fa" *ngIf="key =='Population'" [ngClass]="{'fa-caret-up':reverse,'fa-caret-down':!reverse}"></span>
            </th>
            <th (click)="sort('PopulationMOE')">Population MOE
                <span class="glyphicon sort-icon fa" *ngIf="key =='PopulationMOE'" [ngClass]="{'fa-caret-up':reverse,'fa-caret-down':!reverse}"></span>
            </th>
            <th (click)="sort('Uninsured')">Uninsured
                <span class="glyphicon sort-icon fa" *ngIf="key =='Uninsured'" [ngClass]="{'fa-caret-up':reverse,'fa-caret-down':!reverse}"></span>
            </th>
            <th (click)="sort('UninsuredMOE')">Uninsured MOE
                <span class="glyphicon sort-icon fa" *ngIf="key =='UninsuredMOE'" [ngClass]="{'fa-caret-up':reverse,'fa-caret-down':!reverse}"></span>
            </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let d of data | orderBy: key : reverse | filter:filter | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
            <td *ngIf="i<10">{{d.County}}</td>
            <td *ngIf="i<10">{{d.Population}}</td>
            <td *ngIf="i<10">{{d.PopulationMOE}}</td>
            <td *ngIf="i<10">{{d.Uninsured}}</td>
            <td *ngIf="i<10">{{d.UninsuredMOE}}</td>
            </tr>
        </tbody>
        </table>
    </div>
    <div class="panel-footer">
        <div class="row">
        <div class="col-md-12 text-right"><a routerLink="../population-data" class="btn btn-primary btn-sm">View All</a></div>
        </div>
    </div>
    </div>