<div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="breadcrumb"><a routerLink="../dashboard">HOME</a> › POPULATION DATA</div>
            </div>
        <div class="row">
        <div class="col-md-12">
          <!-- OVERVIEW -->
          <div class="panel panel-headline">
            <div class="panel-heading">
              <h3 class="panel-title">Population Data</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs">
                    <li class="active"><a href="#population_details" data-toggle="tab">Population details</a></li>
                    <li><a href="#population_age" data-toggle="tab">Population by Age</a></li>
                    <li><a href="#population_sex" data-toggle="tab">Population by Sex</a></li>
                    <li><a href="#population_income" data-toggle="tab">Population by Income</a></li>
                    <li><a href="#population_races" data-toggle="tab">Population by Races</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="population_details">
                            <population></population>
                        </div>
                        <div class="tab-pane" id="population_age">
                            <population-age></population-age>
                        </div>
                        <div class="tab-pane" id="population_sex">
                            <population-sex></population-sex>
                        </div>
                        <div class="tab-pane" id="population_income">
                            <population-income></population-income>
                        </div>
                        <div class="tab-pane" id="population_races">
                                <population-race></population-race>
                            </div>
                    </div><!-- tab content -->
                </div>
                
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
      </div>
    