<h4>Population by Income</h4>
<form class="form-inline">
   <!--Radio group-->
    <div class="form-check radio-green">
        <input class="form-check-input" name="income" type="radio" id="radio1011" value="AllIncome" (click)="setradio('AllIncome')" [checked]='true' ngModel>
        <label class="form-check-label" for="radio1011">All Income</label>
    </div>

    <div class="form-check radio-green">
        <input class="form-check-input" name="income" type="radio" id="radio1012" value="AllIncomeA" (click)="setradio('AllIncomeA')" ngModel>
        <label class="form-check-label" for="radio1012">0-1.38% (IPR)</label>
    </div>

    <div class="form-check radio-green">
        <input class="form-check-input" name="income" type="radio" id="radio1013" value="AllIncomeB" (click)="setradio('AllIncomeB')" ngModel>
        <label class="form-check-label" for="radio1013">0-2.00% (IPR)</label>
    </div>

    <div class="form-check radio-green">
        <input class="form-check-input" name="income" type="radio" id="radio1014" value="AllIncomeC" (click)="setradio('AllIncomeC')" ngModel>
        <label class="form-check-label" for="radio1014">0-4.00% (IPR)</label>
    </div>

    <div class="form-check radio-green">
        <input class="form-check-input" name="income" type="radio" id="radio1015"  value="AllIncomeD" (click)="setradio('AllIncomeD')" ngModel>
        <label class="form-check-label" for="radio1015">1.38-4.00% (IPR)</label>
    </div>
    <!--Radio group-->
</form>

 

<div *ngIf="isSelected('AllIncome')" >  
    <div class="form-group search-form">
        <label class="col-sm-2" for="searchlabel">Search</label>
        <input type="text" class="form-control col-sm-4" id="searchlabel"  name="search" [(ngModel)]="filter">
    </div>
    <div class="panel-body no-padding table-responsive dashboard-table">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th (click)="sort('income')">Country
                        <span class="glyphicon sort-icon fa" *ngIf="key =='income'" [ngClass]="{'fa-caret-up':reverse,'fa-caret-down':!reverse}"></span>
                    </th>
                    <th (click)="sort('Population')">Population
                        <span class="glyphicon sort-icon fa" *ngIf="key =='Population'" [ngClass]="{'fa-caret-up':reverse,'fa-caret-down':!reverse}"></span>
                    </th>
                    <th (click)="sort('PopulationMOE')">Population MOE
                        <span class="glyphicon sort-icon fa" *ngIf="key =='PopulationMOE'" [ngClass]="{'fa-caret-up':reverse,'fa-caret-down':!reverse}"></span>
                    </th>
                    <th (click)="sort('Uninsured')">Uninsured
                        <span class="glyphicon sort-icon fa" *ngIf="key =='Uninsured'" [ngClass]="{'fa-caret-up':reverse,'fa-caret-down':!reverse}"></span>
                    </th>
                    <th (click)="sort('UninsuredMOE')">Uninsured MOE
                        <span class="glyphicon sort-icon fa" *ngIf="key =='UninsuredMOE'" [ngClass]="{'fa-caret-up':reverse,'fa-caret-down':!reverse}"></span>
                    </th>
                    <th (click)="sort('UninsuredPct')">Uninsured Pct
                        <span class="glyphicon sort-icon fa" *ngIf="key =='UninsuredPct'" [ngClass]="{'fa-caret-up':reverse,'fa-caret-down':!reverse}"></span>
                    </th>
                    <th (click)="sort('UninsuredPctMOE')">Uninsured Pct MOE
                        <span class="glyphicon sort-icon fa" *ngIf="key =='UninsuredPctMOE'" [ngClass]="{'fa-caret-up':reverse,'fa-caret-down':!reverse}"></span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let d of data | orderBy: key : reverse | filter:filter | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                    <td>{{d.County}}</td>
                    <td>{{d.HouseholdIncome + d.HouseholdIncomeUnder25000 + d.HouseholdIncome25000to49999 + d.HouseholdIncome50000to74999 + d.HouseholdIncome75000to99999 + d.HouseholdIncome100000andover}}</td>
                    <td>{{d.HouseholdIncomeMOE + d.HouseholdIncomeUnder25000MOE + d.HouseholdIncome25000to49999MOE + d.HouseholdIncome50000to74999MOE + d.HouseholdIncome75000to99999MOE + d.HouseholdIncome100000andoverMOE}}</td>
                    <td>{{d.HouseholdIncomeUninsured + d.HouseholdIncomeUnder25000Uninsured + d.HouseholdIncome25000to49999Uninsured + d.HouseholdIncome50000to74999Uninsured + d.HouseholdIncome75000to99999Uninsured + d.HouseholdIncome100000andoverUninsured}}</td>
                    <td>{{d.HouseholdIncomeUninsuredMOE + d.HouseholdIncomeUnder25000UninsuredMOE + d.HouseholdIncome25000to49999UninsuredMOE + d.HouseholdIncome50000to74999UninsuredMOE + d.HouseholdIncome75000to99999UninsuredMOE + d.HouseholdIncome100000andoverUninsuredMOE}}</td>
                    <td>{{d.HouseholdIncomeUninsuredPct + d.HouseholdIncomeUnder25000UninsuredPct + d.HouseholdIncome25000to49999UninsuredPct + d.HouseholdIncome50000to74999UninsuredPct + d.HouseholdIncome75000to99999UninsuredPct + d.HouseholdIncome100000andoverUninsuredPct | number:'2.1-2'}}%</td>
                    <td>{{d.HouseholdIncomeUninsuredPctMOE + d.HouseholdIncomeUnder25000UninsuredPctMOE + d.HouseholdIncome25000to49999UninsuredPctMOE + d.HouseholdIncome50000to74999UninsuredPctMOE + d.HouseholdIncome75000to99999UninsuredPctMOE + d.HouseholdIncome100000andoverUninsuredPctMOE | number:'2.1-2'}}%</td>
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>  
</div>  

<div *ngIf="isSelected('AllIncomeA')"> 
    <div class="form-group search-form">
        <label class="col-sm-2" for="searchlabel">Search</label>
        <input type="text" class="form-control col-sm-4" id="searchlabel"  name="search" [(ngModel)]="filter">
    </div> 
   <div class="panel-body no-padding table-responsive dashboard-table">
        <table class="table table-striped">
            <thead>
                <tr>
                <th (click)="sort('name')">Country
                    <span class="glyphicon sort-icon fa" *ngIf="key =='name'" [ngClass]="{'fa-caret-up':reverse,'fa-caret-down':!reverse}"></span>
                </th>
                <th (click)="sort('Population')">Population
                    <span class="glyphicon sort-icon fa" *ngIf="key =='Population'" [ngClass]="{'fa-caret-up':reverse,'fa-caret-down':!reverse}"></span>
                </th>
                <th (click)="sort('PopulationMOE')">Population MOE
                    <span class="glyphicon sort-icon fa" *ngIf="key =='PopulationMOE'" [ngClass]="{'fa-caret-up':reverse,'fa-caret-down':!reverse}"></span>
                </th>
                <th (click)="sort('Uninsured')">Uninsured
                    <span class="glyphicon sort-icon fa" *ngIf="key =='Uninsured'" [ngClass]="{'fa-caret-up':reverse,'fa-caret-down':!reverse}"></span>
                </th>
                <th (click)="sort('UninsuredMOE')">Uninsured MOE
                    <span class="glyphicon sort-icon fa" *ngIf="key =='UninsuredMOE'" [ngClass]="{'fa-caret-up':reverse,'fa-caret-down':!reverse}"></span>
                </th>
                <th (click)="sort('UninsuredPct')">Uninsured Pct
                    <span class="glyphicon sort-icon fa" *ngIf="key =='UninsuredPct'" [ngClass]="{'fa-caret-up':reverse,'fa-caret-down':!reverse}"></span>
                </th>
                <th (click)="sort('UninsuredPctMOE')">Uninsured Pct MOE
                    <span class="glyphicon sort-icon fa" *ngIf="key =='UninsuredPctMOE'" [ngClass]="{'fa-caret-up':reverse,'fa-caret-down':!reverse}"></span>
                </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let d of data | orderBy: key : reverse | filter:filter | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                    <td>{{d.County}}</td>
                    <td>{{d.RatioofIncometoPovertyLevelUnder138ofpoverty}}</td>
                    <td>{{d.RatioofIncometoPovertyLevelUnder138ofpovertyMOE}}</td>
                    <td>{{d.RatioofIncometoPovertyLevelUnder138ofpovertyUninsured}}</td>
                    <td>{{d.RatioofIncometoPovertyLevelUnder138ofpovertyUninsuredMOE}}</td>
                    <td>{{d.RatioofIncometoPovertyLevelUnder138ofpovertyUninsuredPct | number:'2.1-2'}}%</td>
                    <td>{{d.RatioofIncometoPovertyLevelUnder138ofpovertyUninsuredPctMOE | number:'2.1-2'}}%</td>
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>  
</div> 
<div *ngIf="isSelected('AllIncomeB')">  
    <div class="form-group search-form">
        <label class="col-sm-2" for="searchlabel">Search</label>
        <input type="text" class="form-control col-sm-4" id="searchlabel"  name="search" [(ngModel)]="filter">
    </div>
    <div class="panel-body no-padding table-responsive dashboard-table">
        <table class="table table-striped">
            <thead>
                <tr>
                <th (click)="sort('name')">Country
                    <span class="glyphicon sort-icon fa" *ngIf="key =='name'" [ngClass]="{'fa-caret-up':reverse,'fa-caret-down':!reverse}"></span>
                </th>
                <th (click)="sort('Population')">Population
                    <span class="glyphicon sort-icon fa" *ngIf="key =='Population'" [ngClass]="{'fa-caret-up':reverse,'fa-caret-down':!reverse}"></span>
                </th>
                <th (click)="sort('PopulationMOE')">Population MOE
                    <span class="glyphicon sort-icon fa" *ngIf="key =='PopulationMOE'" [ngClass]="{'fa-caret-up':reverse,'fa-caret-down':!reverse}"></span>
                </th>
                <th (click)="sort('Uninsured')">Uninsured
                    <span class="glyphicon sort-icon fa" *ngIf="key =='Uninsured'" [ngClass]="{'fa-caret-up':reverse,'fa-caret-down':!reverse}"></span>
                </th>
                <th (click)="sort('UninsuredMOE')">Uninsured MOE
                    <span class="glyphicon sort-icon fa" *ngIf="key =='UninsuredMOE'" [ngClass]="{'fa-caret-up':reverse,'fa-caret-down':!reverse}"></span>
                </th>
                <th (click)="sort('UninsuredPct')">Uninsured Pct
                    <span class="glyphicon sort-icon fa" *ngIf="key =='UninsuredPct'" [ngClass]="{'fa-caret-up':reverse,'fa-caret-down':!reverse}"></span>
                </th>
                <th (click)="sort('UninsuredPctMOE')">Uninsured Pct MOE
                    <span class="glyphicon sort-icon fa" *ngIf="key =='UninsuredPctMOE'" [ngClass]="{'fa-caret-up':reverse,'fa-caret-down':!reverse}"></span>
                </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let d of data | orderBy: key : reverse | filter:filter | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                    <td>{{d.County}}</td>
                    <td>{{d.RatioofIncometoPovertyLevelUnder138ofpoverty + d.RatioofIncometoPovertyLevel138to199ofpoverty}}</td>
                    <td>{{d.RatioofIncometoPovertyLevelUnder138ofpovertyMOE + d.RatioofIncometoPovertyLevel138to199ofpovertyMOE}}</td>
                    <td>{{d.RatioofIncometoPovertyLevelUnder138ofpovertyUninsured + d.RatioofIncometoPovertyLevel138to199ofpovertyUninsured}}</td>
                    <td>{{d.RatioofIncometoPovertyLevelUnder138ofpovertyUninsuredMOE + d.RatioofIncometoPovertyLevel138to199ofpovertyUninsuredMOE}}</td>
                    <td>{{d.RatioofIncometoPovertyLevelUnder138ofpovertyUninsuredPct + d.RatioofIncometoPovertyLevel138to199ofpovertyUninsuredPct | number:'2.1-2'}}%</td>
                    <td>{{d.RatioofIncometoPovertyLevelUnder138ofpovertyUninsuredPctMOE + d.RatioofIncometoPovertyLevel138to199ofpovertyUninsuredPctMOE | number:'2.1-2'}}%</td>
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>  
</div>
<div *ngIf="isSelected('AllIncomeC')">  
    <div class="form-group search-form">
        <label class="col-sm-2" for="searchlabel">Search</label>
        <input type="text" class="form-control col-sm-4" id="searchlabel"  name="search" [(ngModel)]="filter">
    </div>
    <div class="panel-body no-padding table-responsive dashboard-table">
        <table class="table table-striped">
            <thead>
                <tr>
                <th (click)="sort('name')">Country
                    <span class="glyphicon sort-icon fa" *ngIf="key =='name'" [ngClass]="{'fa-caret-up':reverse,'fa-caret-down':!reverse}"></span>
                </th>
                <th (click)="sort('Population')">Population
                    <span class="glyphicon sort-icon fa" *ngIf="key =='Population'" [ngClass]="{'fa-caret-up':reverse,'fa-caret-down':!reverse}"></span>
                </th>
                <th (click)="sort('PopulationMOE')">Population MOE
                    <span class="glyphicon sort-icon fa" *ngIf="key =='PopulationMOE'" [ngClass]="{'fa-caret-up':reverse,'fa-caret-down':!reverse}"></span>
                </th>
                <th (click)="sort('Uninsured')">Uninsured
                    <span class="glyphicon sort-icon fa" *ngIf="key =='Uninsured'" [ngClass]="{'fa-caret-up':reverse,'fa-caret-down':!reverse}"></span>
                </th>
                <th (click)="sort('UninsuredMOE')">Uninsured MOE
                    <span class="glyphicon sort-icon fa" *ngIf="key =='UninsuredMOE'" [ngClass]="{'fa-caret-up':reverse,'fa-caret-down':!reverse}"></span>
                </th>
                <th (click)="sort('UninsuredPct')">Uninsured Pct
                    <span class="glyphicon sort-icon fa" *ngIf="key =='UninsuredPct'" [ngClass]="{'fa-caret-up':reverse,'fa-caret-down':!reverse}"></span>
                </th>
                <th (click)="sort('UninsuredPctMOE')">Uninsured Pct MOE
                    <span class="glyphicon sort-icon fa" *ngIf="key =='UninsuredPctMOE'" [ngClass]="{'fa-caret-up':reverse,'fa-caret-down':!reverse}"></span>
                </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let d of data | orderBy: key : reverse | filter:filter | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                    <td>{{d.County}}</td>
                    <td>{{d.RatioofIncometoPovertyLevelUnder138ofpoverty + d.RatioofIncometoPovertyLevel138to199ofpoverty + d.RatioofIncometoPovertyLevel200ofpovertyandover}}</td>
                    <td>{{d.RatioofIncometoPovertyLevelUnder138ofpovertyMOE + d.RatioofIncometoPovertyLevel138to199ofpovertyMOE + d.RatioofIncometoPovertyLevel200ofpovertyandoverMOE}}</td>
                    <td>{{d.RatioofIncometoPovertyLevelUnder138ofpovertyUninsured + d.RatioofIncometoPovertyLevel138to199ofpovertyUninsured + d.RatioofIncometoPovertyLevel200ofpovertyandoverUninsured}}</td>
                    <td>{{d.RatioofIncometoPovertyLevelUnder138ofpovertyUninsuredMOE + d.RatioofIncometoPovertyLevel138to199ofpovertyUninsuredMOE + d.RatioofIncometoPovertyLevel200ofpovertyandoverUninsuredMOE}}</td>
                    <td>{{d.RatioofIncometoPovertyLevelUnder138ofpovertyUninsuredPct + d.RatioofIncometoPovertyLevel138to199ofpovertyUninsuredPct + d.RatioofIncometoPovertyLevel200ofpovertyandoverUninsuredPct | number:'2.1-2'}}%</td>
                    <td>{{d.RatioofIncometoPovertyLevelUnder138ofpovertyUninsuredPctMOE + d.RatioofIncometoPovertyLevel138to199ofpovertyUninsuredPctMOE + d.RatioofIncometoPovertyLevel200ofpovertyandoverUninsuredPctMOE | number:'2.1-2'}}%</td>
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>   
</div> 
<div *ngIf="isSelected('AllIncomeD')">  
    <div class="form-group search-form">
        <label class="col-sm-2" for="searchlabel">Search</label>
        <input type="text" class="form-control col-sm-4" id="searchlabel"  name="search" [(ngModel)]="filter">
    </div>
    <div class="panel-body no-padding table-responsive dashboard-table">
        <table class="table table-striped">
            <thead>
                <tr>
                <th (click)="sort('name')">Country
                    <span class="glyphicon sort-icon fa" *ngIf="key =='name'" [ngClass]="{'fa-caret-up':reverse,'fa-caret-down':!reverse}"></span>
                </th>
                <th (click)="sort('Population')">Population
                    <span class="glyphicon sort-icon fa" *ngIf="key =='Population'" [ngClass]="{'fa-caret-up':reverse,'fa-caret-down':!reverse}"></span>
                </th>
                <th (click)="sort('PopulationMOE')">Population MOE
                    <span class="glyphicon sort-icon fa" *ngIf="key =='PopulationMOE'" [ngClass]="{'fa-caret-up':reverse,'fa-caret-down':!reverse}"></span>
                </th>
                <th (click)="sort('Uninsured')">Uninsured
                    <span class="glyphicon sort-icon fa" *ngIf="key =='Uninsured'" [ngClass]="{'fa-caret-up':reverse,'fa-caret-down':!reverse}"></span>
                </th>
                <th (click)="sort('UninsuredMOE')">Uninsured MOE
                    <span class="glyphicon sort-icon fa" *ngIf="key =='UninsuredMOE'" [ngClass]="{'fa-caret-up':reverse,'fa-caret-down':!reverse}"></span>
                </th>
                <th (click)="sort('UninsuredPct')">Uninsured Pct
                    <span class="glyphicon sort-icon fa" *ngIf="key =='UninsuredPct'" [ngClass]="{'fa-caret-up':reverse,'fa-caret-down':!reverse}"></span>
                </th>
                <th (click)="sort('UninsuredPctMOE')">Uninsured Pct MOE
                    <span class="glyphicon sort-icon fa" *ngIf="key =='UninsuredPctMOE'" [ngClass]="{'fa-caret-up':reverse,'fa-caret-down':!reverse}"></span>
                </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let d of data | orderBy: key : reverse | filter:filter | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                    <td>{{d.County}}</td>
                    <td>{{d.RatioofIncometoPovertyLevel138to199ofpoverty + d.RatioofIncometoPovertyLevel200ofpovertyandover}}</td>
                    <td>{{d.RatioofIncometoPovertyLevel138to199ofpovertyMOE + d.RatioofIncometoPovertyLevel200ofpovertyandoverMOE}}</td>
                    <td>{{d.RatioofIncometoPovertyLevel138to199ofpovertyUninsured + d.RatioofIncometoPovertyLevel200ofpovertyandoverUninsured}}</td>
                    <td>{{d.RatioofIncometoPovertyLevel138to199ofpovertyUninsuredMOE + d.RatioofIncometoPovertyLevel200ofpovertyandoverUninsuredMOE}}</td>
                    <td>{{d.RatioofIncometoPovertyLevel138to199ofpovertyUninsuredPct + d.RatioofIncometoPovertyLevel200ofpovertyandoverUninsuredPct | number:'2.1-2'}}%</td>
                    <td>{{d.RatioofIncometoPovertyLevel138to199ofpovertyUninsuredPctMOE + d.RatioofIncometoPovertyLevel200ofpovertyandoverUninsuredPctMOE | number:'2.1-2'}}%</td>
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>   
</div>