<div class="main-content">
    <div class="container-fluid">
      <div class="row">
                <div class="breadcrumb"><a routerLink="../dashboard">HOME</a> › SETTINGS</div>
            </div>
    <div class="row">
    <div class="col-md-12">
      <!-- Settings -->
      <div class="panel panel-headline">
        <div class="panel-heading">
          <h3 class="panel-title">Settings</h3>
        </div>
        <div class="panel-body">
          <h4>Settings will goes here !</h4>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
